{plugins, [pc]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_env, [
    {"LDFLAGS", "$ERL_LDFLAGS -lrt"},
    {"CFLAGS", "$CFLAGS --std=gnu99 -Wall -O3"}
]}.

{port_specs, [
    {"priv/enq_nif.so", ["c_src/*.c"]}
]}.

{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
